body {
    background:#4EEDD9;
    font-family: sans-serif;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    position: relative;
}

.lowerNav a {color: initial;}

.cardHolder {
    flex: 0 0 auto;
    margin-right: .5rem;
    text-align: center;

    .card {
        background: $highlight;
        color: $main;
        height: 70px;
        width: 70px;
        vertical-align: bottom;
        position: relative;
        
        span {
            display: block;
            height: 13px;
            &.name {
                height: 1.8rem;
            }
        }

        &:hover,&.hover {
            cursor: pointer;
            background: darken($highlight, 10%)
        }

        &.locked {
            &::before {
                content: "";
                background: url("../images/locked.svg");
                height: 100%;
                width: 100%;
                position: absolute;
                background-position: center 15px;
                left: 0;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, .5);
                top: 0;
            }
            &:hover {
                cursor: not-allowed;
                background-color: rgba(0, 0, 0, .5);
            }
        }
        
    }
    
}
.infoIcon {
    width: 1rem;
    margin: .4rem auto;
    background: rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border-radius: 1rem;
    font-size: .8rem;
    font-weight: normal;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .8);
    }
}
#alert {
    position: absolute;
    width: 100%;
    background: $modalBG;
    color: white;
    margin-top: 0px;
    transition: $transitionSpeed;
    &.active {
        padding: 1rem 0;
        text-align: center;
    }
}

#health {
    background: $grey;
    padding: 0;
    color: white;
    font-size: .9rem;
    position: relative;
    .healthBar {
        background: $main;
        width: 100%;
        height: 1rem;
        position: absolute;
        left: 0;
        z-index: 0;
        transition: .5s;
    }
    .healthText {position: relative;}

    &.shake {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        animation-iteration-count:infinite;
    }
}

#deck {
    background: $bg-gray;
    border: 2px solid $highlight-gray;
    padding: 1rem;
    overflow-x: auto;

    #cards {
        height: 6rem;
        width: 100%;
        text-align: left;
        display: flex;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}
.main {
    background: $main;
    color: white;
    padding: .5rem 4rem;
    border: none;
}

.clear {
    background: #4B4B4B;
    color: rgba(255, 255, 255, .5);
    padding: .5rem 1rem;
    border: none;
}

#arena {
    border: 2px dashed #151aa7;
    background: rgba(29, 59, 129, .5);
    min-height: 110px;
}
#hand {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem 1rem;
    display: block;
    .name {
        color: rgba(0, 0, 0, .5);
        height: 2rem;
    }
}

#enemies {
    font-size: 4rem;
    min-height: 4rem;
    padding-bottom: 1rem;
    b {
        color: green;
        text-decoration: underline;
    }
}

.actionButtons {
    display: flex;
    #attack {
        flex-grow: 2;
        &:hover {
            cursor: pointer;
            background: darken($color: $main, $amount: .1)
        }
        &:disabled {
            opacity: .5;
            &:hover {
                cursor: not-allowed;
            }
        }
    }
    .clear{
        flex-grow: 1;
    }
}

.button {
    &:hover {
        cursor: pointer;
    }
}

.smallLink {
    padding: 1rem 0;
    font-size: .8rem;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
    &.left {
        float: left;
    }
    &.right {
        float: right;
    }
}

#categories {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: left;
    margin-bottom: .5rem;
    font-weight: bold;

    li {
        width: 100%;
        color: #4B4B4B;
        &:hover {
            cursor: pointer;
            color: #4B4B4B;
        }
        &.active {
            color: $main;
            &:hover {color: $main;cursor: auto;}
        }
    }
}

#score {
    float: right;
    padding: 1rem 0;
    font-size: .8rem;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

#level {
    display: inline-block;
    padding: 1rem 0;
    font-size: .8rem;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

.gameType {
    width: 2rem;
    display: inline-block;
    line-height: .5rem;
    text-transform: uppercase;
    font-size: .5rem;
    margin-left: .5rem;
    font-weight: bold;
    opacity: .5;
}

#header {text-align: left;}

#homeContainer {
    min-height: 500px;
}

#buttonHolder {
    display: flex;
    height: 200px;
    a {
        margin:auto;
        button {
            margin: .5rem 0;
            width: 10rem;
        }
    }
    #play {
        margin: auto;
    }
    #modes {
        margin-top: .5rem;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
    }
}

#achievementsContainer {
    max-width: 800px;
    padding-top: 1rem;

    #gameModes {
        text-transform: capitalize;
        .achievementCategory {
            display: inline-block;
            padding: 0 2rem 0 0;
            &:hover {
                cursor: pointer;
            }
            &.active {
                color: grey;
                &:hover {
                    cursor: initial;
                }
            }
        }
    }
    .nav {
        position: relative;
        text-align: left;
        margin-bottom: 2rem;

        div:hover {
            cursor: pointer;
        }

        .active{
            color: grey;
            &:hover {
                cursor: initial;
            }
        }

        #scores {
            display: inline-block;
            padding: 0 0 2rem;
        }
        #achievements {
            display: inline-block;
            padding: 0 5rem;
        }
        #back {
            right: 0;
            position: absolute;
        }
    }
    .left {
        width: 600px;
        display: inline-block;
        text-align: left;
        vertical-align: top;

        .row {
            font-size: 1.5rem;
            color: #77928e;
            padding: .5rem 0;
            .score {
                color: darkslategrey;
                width: 5rem;
            }
        }
    }
    .right {
        width: 195px;
        display: inline-block;
        text-align: left;

        h4 {margin-top: 0}

        .image {
            height: 8rem;
            text-align: center;
            img.achievementImage {
                height: inherit;
            }
        }
    }
    .num {
        display: inline-block;
        margin-right: 1rem;
    }

    .score {
        display: inline-block;
        margin-right: 1rem;
    }

    .date {
        display: inline-block;
    }

    #achievementsBody {
        display: none;

        .left {
            .row {
                font-size: 1.5rem;
                color: #77928e;
                border: 1px solid;
                padding: .25rem;
                max-width: 25rem;
                margin-bottom: 1rem;
                position: relative;

                &::before {
                    content: '';
                    width: 30px;
                    height: 29px;
                    background: url(../images/trophy.png) no-repeat;
                    position: absolute;
                    left: -2.7rem;
                    top: .25rem;
                    background-size: contain;
                }

                &::after {
                    content: '';
                    width: 30px;
                    height: 30px;
                    background: url(../images/locked.png) no-repeat;
                    position: absolute;
                    right: -2.7rem;
                    top: 0.1rem;
                    background-size: contain;
                }

                .achievementName {display: inline-block;}
                .achievementPercent {float: right;}
            }
        }
    }
}

.simple-grid {
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-around;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
}
.grid-item {
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    width: 78px;
    height: 78px;
    color: white;
    font-size: 15px;
    border: 3px solid white;
    cursor: move;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    &:hover .remove{
        // display: block!important;
        display: block;
    }
}

.remove {
    display: none;
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: .1rem 0;
    transition: .5s;
    bottom: 0;
    &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, .8);
    }
}

.deep-purple {
    background-color: #673ab7 !important;
}
.teal {
    background-color: #009688 !important;
}
.pink {
    background-color: #e91e63 !important;
}
.lime {
    background-color: #cddc39 !important;
}
.light-green {
    background-color: #8bc34a !important;
}
.light-blue {
    background-color: #03a9f4 !important;
}
.amber {
    background-color: #ffc107 !important;
}
.deep-orange {
    background-color: #ff5722 !important;
}
.black {
    background-color: #000 !important;
}

.quantifier {
    width: initial;
    border: none;
    box-shadow: none;
    color: black;
    font-size: 2rem;
    padding: 27px 0;
    opacity: .8;
    position: relative;

    &.disable {
        opacity: .2;
        line-height: .5rem;
    }
    &.include {
        color: green;
    }
    &.onePlus {
        color: #cddc39;
    }
    &.xTimes {
        color: #673ab7;
    }
    &.xTimesRange {
        color: #420ca0;
    }
    &.optional {
        color: #ff5722;
    }
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
    &.wide {
        width: 2.5rem;
        margin-right: 5px;
    }
}
.quantifierHolder {
    position: relative;
    .infoIcon {
        display: none;
        position: absolute;
        bottom: .5rem;
        left: 25%;
    }
}
.howMany {
    display: none;
    position: absolute;
    width: 2.5rem;
    text-align: center;
    left: 0;
    margin-top: 5px;
    z-index: 1;
}

.tipHolder {margin: 1rem 0;}

@media only screen and (max-width: 600px) {
    .modal .inner label {
        width: auto;
    }
    .modal .inner .holder .value {
        width: auto;
    }

    #achievementsContainer .nav {
        #back {
            position: relative;
        }

        #scores, #achievements {
            display: block;
            padding: 0 0 .5rem;
        }
    }
}