html {min-height: 100%;}

body {
    background-color:#4EEDD9;
    font-family: sans-serif;
    margin: 0;
    background-image: url(../images/backgrounds/grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &.battle {
        background-image: url(../images/backgrounds/battle1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    &.achievements {
        background: #4EEDD9;
    }
}

.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    position: relative;
}

.logo {
    background-image: url(../images/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 293px;
    margin: 1rem auto 0;
}

.lowerNav {
    margin-top: 1rem;
    a {color: initial;}
}

.cardHolder {
    flex: 0 0 auto;
    margin-right: .5rem;
    text-align: center;

    .card {
        background: #2AA14F;
        border-radius: .5rem;
        height: 70px;
        width: 70px;
        vertical-align: bottom;
        position: relative;
        padding-top: 2rem;
        color: rgba(0, 0, 0, .5);
        
        span {
            display: block;
            height: 13px;
        }

        &:hover,&.hover {
            cursor: pointer;
            background: darken($highlight, 10%)
        }

        &.locked {
            &::before {
                background-color: rgba(0, 0, 0, .5);
                background-position: center 15px;
                background-repeat: no-repeat;
                background-image: url("../images/locked.svg");
                border-radius: .5rem; 
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
            }
            &:hover {
                cursor: not-allowed;
                background-color: rgba(0, 0, 0, .5);
            }
        }

        .name {
            height: 1.8rem;
            background: rgba(0, 0, 0, .5);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            color: white;
            text-transform: uppercase;
            margin: auto;
            border-radius: .5rem .5rem 0 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            vertical-align: middle;
            
            .nameInner {    
                max-width: 61px;
                margin: auto;
            }
        }
        
    }
    
}
.infoIcon {
    width: 1rem;
    margin: .4rem auto;
    background: rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border-radius: 1rem;
    font-size: .8rem;
    font-weight: normal;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .8);
    }
}
#alert {

    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: white;
    margin-top: 0px;
    text-align: center;
    z-index: 2;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px black;
    // background: $modalBG;
    transition: $transitionSpeed;
    &.active {
        padding: 1rem;
        text-align: center;
    }
}

#health {
    float: right;
    position: relative;
    text-decoration: none;
    background: rgba(0,0,0,0.42);
    color: white;
    padding: .3rem .5rem .3rem 1.5rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin-left: 2rem;
    min-height: 1.2rem;
    min-width: 2rem;

    &:before {
        background-image: url(../images/ui/health.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        height: 37px;
        left: -19px;
        position: absolute;
        top: -2px;
        width: 42px;
    }
    
    .healthBar {
        height: 1rem;
        left: 0;
        position: absolute;
        transition: .5s;
        width: 100%;
        z-index: 0;
    }
    .healthText {position: relative;}

    &.shake {
        animation-iteration-count: infinite;
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        backface-visibility: hidden;
        perspective: 1000px;
        transform: translate3d(0, 0, 0);
    }
}

#deck {
    background: $bg-gray;
    border: 2px solid $highlight-gray;
    min-height: 138px;
    overflow-x: auto;
    padding: 1rem;

    #cards {
        -webkit-overflow-scrolling: touch;
        display: flex;
        flex-wrap: nowrap;
        height: 6rem;
        text-align: left;
        width: 100%;
    }
}
.main {
    background: $main;
    border: none;
    color: white;
    padding: .5rem 4rem;
}

.clear {
    background: #4B4B4B;
    border: none;
    color: rgba(255, 255, 255, .5);
    padding: .5rem 1rem;
}

#arena {
    background: rgba(29, 59, 129, .5);
    border: 2px dashed #151aa7;
    min-height: 110px;
}
#hand {
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    .name {
        background: rgba(0, 0, 0, .5);
        border-radius: .5rem .5rem 0 0;
        color: white;
        display: flex;
        flex-direction: column;
        height: 2rem;
        justify-content: center;
        left: 0;
        margin: auto;
        position: absolute;
        text-transform: uppercase;
        top: 0;
        vertical-align: middle;
        width: 100%;
    }
}

#enemies {
    font-size: 4rem;
    min-height: 4rem;
    padding-bottom: 1rem;
    b {
        color: green;
        text-decoration: underline;
    }
}

.actionButtons {
    display: flex;
    #attack {
        flex-grow: 2;
        &:hover {
            cursor: pointer;
            background: darken($color: $main, $amount: .1)
        }
        &:disabled {
            opacity: .5;
            &:hover {
                cursor: not-allowed;
            }
        }
    }
    .clear{
        flex-grow: 1;
    }
}

.button {
    &:hover {
        cursor: pointer;
    }
}

.smallLink {
    color: white;
    font-size: .8rem;
    padding: 1rem 0;
    text-decoration: none;
    &.left {
        float: left;
    }
    &.right {
        float: right;
    }
}

#categories {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    list-style: none;
    margin-bottom: .5rem;
    text-align: left;

    li {
        width: 100%;
        color: #4B4B4B;
        &:hover {
            cursor: pointer;
            color: #4B4B4B;
        }
        &.active {
            color: $main;
            &:hover {color: $main;cursor: auto;}
        }
    }
}

#score {
    background: rgba(0, 0, 0, 0.42);
    border-radius: .5rem;
    color: white;
    float: right;
    font-size: 1.2rem;
    min-height: 1.2rem;
    min-width: 2rem;
    padding: .3rem 1rem .3rem 1.5rem;
    position: relative;
    text-align: center;
    text-decoration: none;

    &:before {
        background-image: url(../images/ui/score.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        height: 37px;
        left: -20px;
        position: absolute;
        top: -2px;
        width: 42px;
    }
}

#level {
    color: $main;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px black;
    text-transform: uppercase;

    .value {
        display: block;
        text-transform: none;
        color: white;
        text-shadow: -3px -1px 0px black;
    }
}

.gameType {
    color: $main;
    display: block;
    float: left;
    font-size: .5rem;
    font-weight: bold;
    left: -3rem;
    line-height: .5rem;
    position: absolute;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    top: 4px;
    max-width: 4rem;
    text-align: right;
}

#header {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: left;
}

#homeContainer {
    min-height: 500px;
}

#buttonHolder {
    display: flex;
    height: 200px;
    a {
        margin:auto;
        button {
            margin: .5rem 0;
            width: 10rem;
        }
    }
    #play {
        margin: auto;
    }
    #modes {
        margin-top: .5rem;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
    }
}

#achievementsContainer {
    max-width: 800px;
    padding-top: 1rem;

    #scoreType {
        text-transform: capitalize;
        .achievementCategory {
            display: inline-block;
            padding: 0 2rem 0 0;
            color: grey;
            &:hover {
                cursor: pointer;
            }
            &.active {
                color: black;
                &:hover {
                    cursor: initial;
                }
            }
        }
    }
    .nav {
        position: relative;
        text-align: left;
        margin-bottom: 2rem;
        color: grey;

        div:hover {
            cursor: pointer;
        }

        .active{
            color: black;
            &:hover {
                cursor: initial;
            }
        }

        #scores {
            display: inline-block;
            padding: 0 0 2rem;
        }
        #achievements {
            display: inline-block;
            padding: 0 5rem;
        }
        #back {
            right: 0;
            position: absolute;
        }
    }
    .left {
        width: 600px;
        display: inline-block;
        text-align: left;
        vertical-align: top;

        .row {
            font-size: 1.5rem;
            color: #77928e;
            padding: .5rem 0;
            .score {
                color: darkslategrey;
                width: 5rem;
            }
        }
    }
    .right {
        width: 195px;
        display: inline-block;
        text-align: left;

        h4 {margin-top: 0}

        .image {
            height: 8rem;
            text-align: center;
            img.achievementImage {
                height: inherit;
            }
        }
    }
    .num {
        display: inline-block;
        margin-right: 1rem;
    }

    .score {
        display: inline-block;
        margin-right: 1rem;
    }

    .date {
        display: inline-block;
    }

    #achievementsBody {
        display: none;

        .left {
            .row {
                font-size: 1.5rem;
                color: #77928e;
                border: 1px solid;
                padding: .25rem;
                max-width: 25rem;
                margin-bottom: 1rem;
                position: relative;

                &::before {
                    content: '';
                    width: 30px;
                    height: 29px;
                    background: url(../images/trophy.png) no-repeat;
                    position: absolute;
                    left: -2.7rem;
                    top: .25rem;
                    background-size: contain;
                }

                &::after {
                    content: '';
                    width: 30px;
                    height: 30px;
                    background: url(../images/locked.png) no-repeat;
                    position: absolute;
                    right: -2.7rem;
                    top: 0.1rem;
                    background-size: contain;
                }

                .achievementName {display: inline-block;}
                .achievementPercent {float: right;}
            }
        }
    }

    #scoreType {
        text-align: left;
        div {
            display: inline-block;
            font-size: .8rem;
            padding: 0 1rem;
            text-transform: uppercase;
            &:first-of-type {
                padding-left: 0;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.simple-grid {
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-around;
    justify-content: flex-start;
    width: 100%;
    margin: auto;

    &:empty::after {
        content: "Select a card below!";
        width: 100%;
        line-height: 100px;
    }
}
.grid-item {
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    width: 78px;
    height: 78px;
    font-size: 15px;
    border: 3px solid white;
    cursor: move;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    border-radius: .5rem;
    color: rgba(0,0,0,0.5);

    &:hover .remove{
        display: block;
    }

    .innerBlock {
        padding-top: 2rem;
    }
}

.remove {
    display: none;
    position: absolute;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: .1rem 0;
    transition: .5s;
    bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.deep-purple {
    background-color: #673ab7 !important;
}
.teal {
    background-color: #009688 !important;
}
.pink {
    background-color: #e91e63 !important;
}
.lime {
    background-color: #cddc39 !important;
}
.light-green {
    background-color: #8bc34a !important;
}
.light-blue {
    background-color: #03a9f4 !important;
}
.amber {
    background-color: #ffc107 !important;
}
.deep-orange {
    background-color: #ff5722 !important;
}
.black {
    background-color: #000 !important;
}

.quantifier {
    width: initial;
    border: none;
    box-shadow: none;
    color: black;
    font-size: 2rem;
    padding: 27px 0;
    opacity: .8;
    position: relative;

    &.disable {
        opacity: .2;
        line-height: .5rem;
    }
    &.include {
        color: green;
    }
    &.onePlus {
        color: #cddc39;
    }
    &.xTimes {
        color: #673ab7;
    }
    &.xTimesRange {
        color: #420ca0;
    }
    &.optional {
        color: #ff5722;
    }
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
    &.wide {
        width: 2.5rem;
        margin-right: 5px;
    }
}
.quantifierHolder {
    position: relative;
    .infoIcon {
        display: none;
        position: absolute;
        bottom: .5rem;
        left: 25%;
    }
}
.howMany {
    display: none;
    position: absolute;
    width: 2.5rem;
    text-align: center;
    left: 0;
    margin-top: 5px;
    z-index: 1;
}

.tipHolder {margin: 1rem 0;}

#timerWarning {
    display: none;
    float: right;
    right: 10rem;
    width: 10rem;
    top: 5rem;
    color: white;
    position: absolute;

    background: rgba(0,0,0,0.7);
    margin-top: 0px;
    text-align: center;
    z-index: 2;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px black;
    transition: .5s;
    padding: 1rem;
    line-height: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .modal .inner label {
        width: auto;
    }
    .modal .inner .holder .value {
        width: auto;
    }

    #achievementsContainer .nav {
        #back {
            position: relative;
        }

        #scores, #achievements {
            display: block;
            padding: 0 0 .5rem;
        }
    }
}