/* Enemy characters */
#enemyImageHolder {
    text-align: center;
    
    .enemyImageHolder {
        display: inline-block;
        position: relative;
        transition: $transitionSpeed;

        &.matched {

            &::before {
                position: absolute;
                content: "";
                top: -1rem;
                left: 1rem;
                width: 50px;
                height: 50px;
                background: url(../images/matched.svg) no-repeat;
                background-size: contain;
                z-index: 1;
            }
            .enemyImg {
                filter: saturate(292%) brightness(70%) hue-rotate(103deg);
            }
        }
        &.attacking {

            &::before {
                position: absolute;
                content: "Attacking";
                top: -1rem;
                left: 1rem;
                width: 50px;
                height: 50px;
                // background: url(../images/matched.svg) no-repeat;
                background-size: contain;
                z-index: 1;
                font-size: 1rem;
            }
            .enemyImg {
                filter: saturate(450%) brightness(100%) invert(1);
            }
        }
    }

    .enemyImg {
        max-height: 4rem;
        position: relative;
        transition: $transitionSpeed;

        &.blank {
            height: 1rem;
            display: block;
        }
        &.matched {
            
        }
    }
}