/* Enemy characters */
#enemyImageHolder {
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
    
    .enemyImageHolder {
        display: inline-block;
        padding: 0 .25rem;
        position: relative;
        transition: $transitionSpeed;

        &.blank {
            display: block;
            padding: 0;
        }

        &.matched {

            &::before {
                position: absolute;
                content: "";
                top: -1.5rem;
                left: 10%;
                width: 40px;
                height: 40px;
                background: url(../images/matched.svg) no-repeat;
                background-size: contain;
                z-index: 1;
            }
            .enemyImg {
                filter: saturate(-0%) brightness(64%) hue-rotate(103deg);
            }
        }
        &.attacking {

            animation: bounce 0.5s linear both;
            animation-iteration-count:infinite;

            &::before {
                position: absolute;
                content: "Attacking";
                top: -1rem;
                left: calc(-50% + 10px);
                color: $main;
                font-weight: bold;
                width: 50px;
                height: 50px;
                // background: url(../images/matched.svg) no-repeat;
                background-size: contain;
                z-index: 1;
                font-size: 1rem;
            }
            .enemyImg {
                filter: saturate(450%) brightness(100%) invert(1);
            }
        }
    }

    .enemyImg {
        filter: drop-shadow(1px 3px 1px rgba(0,0,0,0.5));
        // max-height: 4rem;
        height: 6rem;
        position: relative;
        transition: $transitionSpeed;

        &.blank {
            height: 1rem;
            display: block;
        }
        &.matched {
            
        }

        &:hover {
            filter: saturate(191%) drop-shadow(3px 3px 1px rgba(0,0,0,0.5));
            cursor: pointer;
        }

        &.q,&.p, &.y, &.g {
            // top: 2rem;
            top: 3.5rem;
        }

        &.a, &.c, &.e, &.m,&.n,&.o, &.r, &.s, &.u, &.v, &.w, &.x, &.z{
            // height: 2.5rem;
            height: 3rem;
        }
        &.t, &.i {
            // height: 3rem;
            height: 4rem;
        }
    }
}