/* Modals and Overlays */

.modal {
    background: $modalBG;
    color: white;
    display: flex;
    font-size: 1.5rem;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;

    .inner {
        margin: auto;    
        z-index: 1;

        &.styled {
            background: #D8D8D8;
            border: 2px solid #979797;
            color: $grey;
            padding: 1rem;

            .infoDescription {
                margin-top: 1.5rem;
            }
            .title {
                color: $main;
                font-size: 2rem;
                font-weight: bold;
                text-align: center;
                text-transform: none;
            }
        }

        label {
            display: inline-block;
            margin-right: 1rem;
            text-align: right;
            width: 8rem;
        }

        .holder {
            display: inline-block;
            vertical-align: text-top;
            .value {
                display: inline-block;
                width: 6rem;
                text-align: left;
            }
        }
        .record {
            color: darkorange;
            font-size: 1rem;
            right: -7rem;
            position: absolute;
            top: .3rem;
        }
        .title {
            color: darkorange;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        .actions {
            margin-top: 1rem;

            a {
                text-decoration: none;

                button {
                    display: block;
                    margin: 1rem auto;
                    width: 10rem;
                    padding: 1rem;
                    background: $main;
                    color: white;
                    font-size: 1.3rem;
                    font-weight: bold;
                    border-radius: .5rem;
                    border: .25rem $grey solid;

                    &:hover {
                        cursor: pointer;
                        background: darken($main, 10%)
                    }
                }
            }
        }
    }
    .modalBG {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

#infoModal {
    .inner {
        
        .infoNickname {
            text-transform: initial;
            color: $grey;
            font-size: 1.5rem;
            display: block;
        }
        .infoTips {
            color: $grey;
        }
        .matchesWord {padding: 0 3rem;}
        
        .infoExamples {
            color: $grey;
            margin-top: 2rem;
        }

        m {
            color: $main;
            text-decoration: underline;
        }
    }
}

#enemyModal {
    .inner {width: 500px;}
    .enemyImage {
        float: right;
        img {max-height: 7rem;}
    }
}

#gameModes {
    background: $modalBG;
    color: white;
    display: none;
    left: -1rem;
    padding: 2rem 1rem 8rem;
    position: absolute;
    text-transform: capitalize;
    width: 100%;
    z-index: 1;
    &::after {
        content: 'coming soon...';
        color: aqua;
        font-size: 1.5rem;
        left: 0rem;
        position: absolute;
        top: 5rem;
        width: 100%;
    }
    &.showModes {
        display: flex;
    }
    
    .closeModes {
        background-size: contain;
        background: url(../images/close.svg) no-repeat;
        height: 18px;
        position: absolute;
        right: .5rem;
        top: .5rem;
        width: 15px;
        &:hover {
            cursor: pointer;
        }
    }

    .mode {
        display: inline-block;
        margin: auto;
    }
}

#tip {
    background: rgba(0, 0, 0, .8);
    bottom: 0;
    color: white;
    display: none;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 3;

    .closeButton {
        background-image: url(../images/close.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
        // height: 15px;
        // margin: -.5rem;
        padding: .5rem;
        position: absolute;
        right: .5rem;
        top: .5rem;
        // width: 15px;
        z-index: 2;
        &:hover {
            cursor: pointer;
        }
    }

    .container {
        background-image: url(../images/messageHead.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 35px;
        overflow: hidden;
        padding: 1rem 0 1rem 3rem;
        position: relative;
        text-align: left;
        transition: .5s;
        &:hover {
            cursor: pointer;
            padding: 2rem 0 2rem 3rem;
        }
        &.auto {
            background: none;
            text-align: center;
        }
        .pagination {
            color: grey;
            font-size: 1.5rem;
            line-height: .8rem;
            margin-top: -0.150rem;
            max-width: 500px;
            position: absolute;
            text-align: center;
            width: 100%;
            .active {
                color: white;
            }
        }
    }
}

#cutScene {
    background-color: green;
    background-image: url(../images/backgrounds/grass.jpg);
    background-size: cover;
    height: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;

    #cutSceneForegroundChar {
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 242px;
        height: 320px;
        min-width: 270px;
        position: absolute;
        width: 500px;
    }
    
    #cutSceneBackgroundChar {
        background-repeat: no-repeat;
        background-size: contain;
        height: 220px;
        min-width: 270px;
        position: absolute;
        right: 100px;
        top: 10%;
    }

    #cutSceneTitle {
        background-color: #D82262;
        border-radius: .5rem;
        border: .25rem #4B4B4B solid;
        color: white;
        display: inline-block;
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: -4rem;
        padding: .5rem;
        position: absolute;
    }

    #cutSceneDescription {
        background: #D8D8D8;
        bottom: 0;
        color: #4B4B4B;
        font-weight: bold;
        height: 150px;
        left: 0;
        padding: 3rem 1rem;
        position: absolute;
        width: inherit;
        max-width: calc(100% - 3rem);

        .descriptionText {
            max-width: 50rem;
        }
    }
}

#tutorialOverlay {
    background-color: rgba(44, 123, 204, 0.9);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;

    #tutorialAnimation {
        text-align: center;

        img {
            max-width: 300px;
        }
    }

    #tutorialDescription {
        color: white;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 4rem;
        margin-top: 2rem;
        text-align: center;
        text-shadow: 2px 2px 3px black;

        .title {
            color: $main;
        }
    }

    #tutorialArrow {
        background-size: contain;
        background: url(../images/arrow.svg) no-repeat;
        height: 50px;
        position: absolute;
        width: 50px;

        &.downArrow {
            transform: rotate(180deg);
        }
        &.upArrow {
            transform: rotate(0deg);
        }
        &.leftArrow {
            transform: rotate(-90deg);
        }
        &.rightArrow {
            transform: rotate(90deg);
        }
    }
}