#referenceLink {
  padding: 1rem 3rem;
}

#referenceModal {
  background: rgba(0,0,0,0.5);
  
  .inner {
    border: none;
    width: 800px;
    padding: 0;
    max-height: 580px;
    overflow: hidden;
  }

  #referenceFunctionList {
    max-height: 450px;
    overflow: auto;
  }
}

#referenceContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  
  #referenceInner {
    display: flex;
    flex: 1;

    #referenceDetails {
      border: none;
      background: white;
      flex: 1;
      text-align: left;
      margin: inherit;
      min-height: fit-content;

      #referenceCategoryDescription {
        padding: 1rem;
        color: $blue;
      }
    }
  }
}


#referenceFunctionList {
  list-style: none;
  margin: 0;
  padding: 0;

  .referenceFunction {
    padding: 1rem;
    
    &:hover {
      cursor: pointer;
      background: rgba(169,164,164,0.15);
    }

    &.active {
      background: rgba(29,59,129,0.5);

      .referenceFunctionName {
        color:white;
      }

      &:hover {
        background: rgba(29,59,129,0.5);
      }
    }


    .referenceFunctionName {
      text-transform: uppercase;
    }
  }

  .referenceFunctionIcon {
    float: right;
    transition: .25s;
    // background-image: url(../images/ui/categoryArrow.svg);
    // background-repeat: no-repeat;
    // background-size: contain;
    &.rotate {
      transform: rotate(90deg);
      filter: brightness(200%);
    }
  }

  .referenceFunctionDescription {
    color: rgba(0, 0, 0, .8);
    display: none;
    padding: 1rem 0;

    .examplesContent {
      div {
        display: inline-block;
        padding: 0 1rem;
      }

      m {
        color: #D82262;
        text-decoration: underline;
        font-weight: bold;
      }
    }

    .examples {
      line-height: 2rem;
    }
  }
}

#referenceBody {
  background: #D8D8D8;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: inherit;
  text-align: left;
}

#homepageReference {
  // background-image: url(../images/ui/referenceColor.svg);
  // background-repeat: no-repeat;
  // background-size: contain;
  color: white;
  font-weight: bold;
  margin-right: 3rem;
  padding-left: 1.5rem;
  text-align: left;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;

  &:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-image: url(../images/ui/referenceColor.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -2rem;
    margin-top: -.2rem;
  }
  
  &:hover {
    cursor: pointer;
  }
}

#referenceTitleContainer {
  color: $main;
  padding: .5rem;

  background: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

  #referenceTitle {
    display: inline-block;
  }

  #referenceClose {
    display: none;
    float: right;
  }
}

#referenceSidebar {
  flex: 0 0 10vw;
  list-style: none;
  margin: 0;
  order: -1;
  padding: 0;

  li {
    padding: 1rem 0 1rem 1rem;
    text-transform: capitalize;
    
    &:hover {
      cursor: pointer;
      background: rgba(169, 164, 164, .25);
    }
    
    &.active {
      background: white;

      &:hover {
        background: white;
      }
    }
  }

}