$main: #D82262;
$highlight: yellow;
$grey: grey;
body {
    background:#4EEDD9;
    font-family: sans-serif;
}

.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    position: relative;
}

.card {
    background: $highlight;
    color: $main;
    max-width: 70px;
    height: 70px;
    width: 70px;
    vertical-align: bottom;
    
    span {
        display: block;
        &.name {
            height: 1.8rem;
        }
    }
    &:hover {
        cursor: pointer;
        background: darken($highlight, 10%)
    }
}
#alert {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    color: white;
    margin-top: -.5rem;
}

#health {
    background: $grey;
    padding: 0;
    color: white;
    font-size: .8rem;
    position: relative;
    .healthBar {
        background: $main;
        width: 100%;
        height: 1rem;
        position: absolute;
        left: 0;
        z-index: 0;
        transition: .5s;
    }
    .healthText {position: relative;}
}

#deck {
    background: #D8D8D8;
    border: 2px solid #979797;
    padding: 1rem;
}
.main {
    background: $main;
    color: white;
    padding: .5rem 4rem;
    border: none;
}

.clear {
    background: #4B4B4B;
    color: rgba(255, 255, 255, .5);
    padding: .5rem 1rem;
    border: none;
}

#hand {
    border: 2px dashed #151aa7;
    background: rgba(29, 59, 129, .5);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: calc(100% - 36px);
    padding: .5rem 1rem;
    display: block;
}

#enemies {
    font-size: 4rem;
    min-height: 4rem;
    padding-bottom: 1rem;
    b {
        color: green;
        text-decoration: underline;
    }
}

.actionButtons {
    display: flex;
    #attack {
        flex-grow: 2;
        &:hover {
            cursor: pointer;
            background: darken($color: $main, $amount: .1)
        }
        &:disabled {
            opacity: .5;
            &:hover {
                cursor: not-allowed;
            }
        }
    }
    .clear{
        flex-grow: 1;
    }
}

.button {
}

#random {
    float: left;
    padding: 1rem 0;
    font-size: .8rem;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

#categories {
    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
        width: 100%;
        &:hover {
            cursor: pointer;
            color: #4B4B4B;
        }
        &.active {
            color: white;
            &:hover {color: white;cursor: auto;}
        }
    }
}

#score {
    float: right;
    padding: 1rem 0;
    font-size: .8rem;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

#level {
    display: inline-block;
    padding: 1rem 0;
    font-size: .8rem;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

#header {text-align: left;}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, .8);
    color: white;
    font-size: 1.5rem;
    .inner {
        margin: auto;
    }
}